body {
  margin: 0;
  padding: 0;
}

.headerh1pcentro {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 8px;
}

header {
  background-color: #212121;
  color: white;
  margin: 0;
  padding: 0;
}

.mainp {
  display: flex;
  margin-left: 780px;
}

.img {
  height: 250px;
  border: 1px solid black;
}

.img123 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.img456 {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.imagenes {
  display: flex;
  flex-direction: column;
}
