body {
  margin: 0;
  padding: 0;
}

.headerh1pcentro {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 8px;
}

header {
  background-color: #212121;
  color: white;
  margin: 0;
  padding: 0;
}

.mainp {
  display: flex;
  margin-left: 780px;
}

.img {
  height: 250px;
}

.img123 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.img456 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.img1 {
  border: solid 1px black;
  width: 15%;
  height: 15%;
}

.img1 p {
  display: flex;
  justify-content: center;
}
