body {
  background-color: white;
  max-width: 1400px;
  margin: 5px auto;
  padding: 20px;
  position: relative;
}

.primertitulo {
  margin-left: 60px;
  margin-top: 80px;
  font-size: 70px;
}

.segundotitulo {
  margin-left: 120px;
  font-size: 70px;
}

.primerap {
  margin-left: 90px;
  font-size: 20px;
  border-left: #000000 solid 5px;
  padding-left: 15px;
}

.boton {
  margin-left: 90px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 50px;
  width: 190px;
  font-size: 17px;
  margin-bottom: 70px;
  border-left: #000000 solid 5px;
}

.imagen {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 615px;
  height: 440px;
  margin-top: 100px;
  margin-right: 120px;
}
.imagen2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

.p1 {
  display: flex;
  flex-direction: column;
}
.p2 {
  display: flex;
  flex-direction: column;
  background-color: #bbd6ff81;
  padding: 30px;
}
.p3 {
  display: flex;
  flex-direction: column;
}
.p4 {
  display: flex;
  flex-direction: column;
  background-color: #bbd6ff81;
  padding: 30px;
}
