body {
  margin: 0;
  padding: 0;
}
.colorboton {
  background-color: black;
  color: white;
  border-radius: 50px;
  display: flex;
  padding: 1000px;
  font-size: 20px;
}
.centro {
  display: flex;
  flex-direction: column;
}

.textoh1 {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  font-size: 70px;
}

.textop {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.textob {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  padding: 20px;
  width: 170px;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fondo {
  position: fixed;
  display: flex;
  cover: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
