body {
  margin: 0;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Avenir", sans-serif;
}

.pagina {
  width: 1440px;
  height: 1024px;
  background: white;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}

.imagen {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 547px;
  height: 518px;
  margin-top: 92px;
  margin-right: 64px;
}

h1,
p,
button {
  max-width: 400px;
}

.h1 {
  font-size: 53px;
  margin-top: 144px;
}
.h11 {
  font-size: 53px;
}

.letrap {
  font-size: 18px;
  margin-bottom: 20px;
  color: #515151;
}

.boton {
  background-color: #252525;
  border-radius: 30px;
  color: white;
  border: none;
  padding: 15px 33px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
}

.bloque {
  margin-top: 120px;
  background: #252525;
  border-radius: 25px;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 30px;
}

.item {
  color: white;
  max-width: 300px;
}

.item h3 {
  margin: 0 0 12px;
  font-size: 25px;
}

.item p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: #cfcfcf;
}
