.fondo {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
  background-color: grey;
  display: flex;
  justify-content: center;
}

.fondo {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
* {
  border: red solid 1px;
}
