body {
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.h1 {
  margin-left: 285px;
  font-size: 60px;
  margin-top: 60px;
}

.colorp {
  color: #515151;
  font-size: 20px;
}
.colornum {
  font-size: 40px;
  color: #b3b3b3;
  font-weight: bold;
}
.img {
  margin-bottom: 50px;
}
