body {
  margin: 0%;
  padding: 0%;
  width: 1440px;
  height: 1271px;
}

.div1 {
  margin-top: 137px;
  margin-left: 270px;
}
.imagen1 {
  position: absolute;
  top: 40px;
  right: 730px;
  width: 408px;
  height: 480px;
}

.imagen2 {
  position: absolute;
  top: 100px;
  right: 300px;
  width: 408px;
  height: 480px;
}

.imagen345 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.boton {
  background-color: #252525;
  border-radius: 30px;
  color: white;
  border: none;
  padding: 15px 33px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 50px;
}

.texto {
  font-size: 30px;
  color: #515151;
  margin-top: 25px;
}

.titulo {
  font-size: 70px;
  color: #252525;
}

.imagen345 {
  display: flex;
  justify-content: center;
  margin-left: 400px;
}
