body {
  background-color: grey;
  display: flex;
  justify-content: center;
}

.fondo {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.centro {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
  font-family: "Avenir", sans-serif;

}

.img {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  gap: 20px;
  font-family: "Avenir", sans-serif;
}

.boton {
  padding: 15px;
  margin: auto;
  border-radius: 15px;
  background-color: #252525;
  color: white;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h1 {
  margin-top: 30px;
  color: #252525;
  font-size: 50px;
  margin-bottom: 1px;
}
